.label {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.input {
  width: 150px;
  height: 28px;
  padding-left: 30px;
  border-radius: 6px;
  border-color: #1e90ff;
  background-image: url('../../image/Vector.svg');
  background-repeat: no-repeat;
  background-position: 3% 50%;
}

@media screen and (min-width: 468px) {
  .input {
    width: 200px;
    height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .label {
    margin-right: 20px;
  }

  .input {
    width: 250px;
    height: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .label {
    margin-right: 26px;
  }

  .input {
    width: 300px;
    height: 38px;
  }
}
