.form {
  width: 60%;
}

.label {
  display: grid;
}

.input {
  height: 100vh;
  resize: none;
  border: none;
  padding: 30px;
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.19;
}

.button {
  width: 36px;
  height: 24px;
  position: absolute;
  top: 65px;
  right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.todoId {
  margin-top: 14px;
  margin-left: 12px;
}
