.todoList {
  width: 40%;
  height: 100vh;
  border-right: 1px solid #a9a9a9;
}

.item {
  height: 50px;
  padding: 5px 10px;
  border-right: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  overflow: hidden;
}

.textItem {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.02;
  margin-bottom: 5px;
  color: #212121;
}

.id {
  font-size: 7px;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .item {
    height: 70px;
    padding: 8px 16px;
  }

  .textItem {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .id {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .item {
    height: 90px;
    padding: 10px 20px;
  }

  .textItem {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .id {
    font-size: 12px;
  }
}
