.todoList {
  width: 40%;
  height: 100vh;
  border-right: 1px solid #a9a9a9;
}

.item {
  padding: 15px;
  padding-bottom: 5px;
  border-right: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.textItem {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.02;
  margin-bottom: 5px;
}

.id {
  font-size: 11px;
  margin-bottom: 5px;
}

.button {
  width: 36px;
  height: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 12px;
}

.blockBtn {
  display: flex;
}
